# Node
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Gradle & Android
.gradle/
**/build/
local.properties
.idea/
*.iml
.DS_Store

# Scratch
*.log
*.apk
.vercel
.env*
